@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap";

@import "https://fonts.googleapis.com/css2?family=DotGothic16&family=Oswald:wght@200&display=swap";

.dialogkhanbank-all {
background-color:#9b9b9b;
margin-top:8%;
margin-bottom:15%;
margin-right:auto;
margin-left:auto;
width:80%;
border:15px #fff solid;
border-radius:5px
}

.dialogkhanbank-all > h1 {
font-family:'Oswald';
font-size:68px;
color:#fff;
background-color:#58a200;
text-align:center;
margin-bottom:0;
margin-top:0
}

.dialogkhanbank-all > h2 {
padding-left:10%;
font-family:'Oswald';
font-size:55px;
margin-bottom:.5%;
margin-top:.5%;
border-bottom:#fff solid;
border-top:5px #fff solid
}

.dialogkhanbank-all h3 {
display:inline-block;
font-size:48px;
margin-left:10%;
margin-bottom:0;
margin-top:0;
font-family:'Oswald';
font-weight:bolder;
width:20%
}

.dialogkhanbank-all p {
padding-left:10%;
margin-top:.5%;
margin-bottom:.5%;
margin-bottom:.4%;
border-bottom:5px #fff solid
}

.dialogkhanbank-all a {
color:#1a1a1a;
font-family:'Oswald';
font-weight:bolder;
font-size:40px
}

.dialogkhanbank-all .pay-small-select {
padding-left:10%;
margin-top:.5%;
margin-bottom:.5%;
font-family:'Oswald';
font-size:45px;
margin-bottom:.4%;
border-bottom:2px #fff solid;
color:#000
}

.dialogkhanbank-all button {
width:160px;
height:40px;
margin:1%;
font-size:30px;
font-weight:bolder;
background-color:#424242;
color:#fff;
border-radius:5px;
border:2px #fff solid
}

.fas {
font-size:26px
}

@media only screen and (max-width:1260px) and (min-width:760px) {
.dialogkhanbank-all {
width:90%
}

.dialogkhanbank-all > h1 {
font-size:78px
}

.dialogkhanbank-all > h2 {
font-size:50px
}

.dialogkhanbank-all a {
font-family:'Oswald';
font-weight:bolder;
font-size:40px
}

.dialogkhanbank-all h3 {
margin-top:.5%;
margin-bottom:.5%;
font-family:'Oswald';
font-size:55px
}

.dialogkhanbank-all .pay-small-select {
font-size:35px
}

.dialogkhanbank-all button {
width:150px;
height:50px;
margin:1%;
font-size:30px;
border:5px #fff solid
}

.fas {
font-size:26px
}
}

@media only screen and (max-width:760px) and (min-width:320px) {
.dialogkhanbank-all {
margin-top:15%;
margin-bottom:15%;
width:80%;
border-radius:5px
}

.dialogkhanbank-all > h1 {
font-size:28px
}

.dialogkhanbank-all > h2 {
font-size:20px
}

.dialogkhanbank-all a {
color:#1a1a1a;
font-family:'Oswald';
font-weight:bolder;
font-size:15px
}

.dialogkhanbank-all h3 {
margin-top:.5%;
margin-bottom:.5%;
font-family:'Oswald';
font-size:25px
}

.dialogkhanbank-all .pay-small-select {
font-size:15px
}

.dialogkhanbank-all button {
width:80px;
height:25px;
margin:1%;
font-size:10px
}

.fas {
font-size:26px
}
}
